//
  File:  Fete/app_server/views/home.jade
  Joel Cruz, UMass Lowell Computer Science, jcruz@student.uml.edu
  Copyright (c) 2016 by Joel Cruz.  All rights reserved.  May be freely copied or excerpted for educational purposes with credit to the author.
  updated by JC on March 27, 2016

extends layout

block append head
  link(rel='stylesheet', href='/stylesheets/home.css')  
  link(rel='stylesheet', href='/stylesheets/datepicker.css')
  script(src='/javascripts/dateHandler.js')

block content
 .container#post(style='margin-top:100px;')
  #template
    .row
      .col-lg-8.col-sm-8.col-md-8.postPanel.panel.panel-defeault
        .panel-body#blackText
          .panel-textarea(rows='4')
            textarea  
            //Hidden panel that appears when more info button is clicked     
        .panel-footer
          qbutton.btn.btn-default(type='button', data-toggle='collapse', href='#event-info') More Info
          .panel-body.panel-collapse.collapse#event-info
            .row.hidden-pannel
              .col-md-3.col-sm-3
                .input-group Location
                  input(type='text')
               .col-md-3.col-sm-3
                .input-group Date  
                  input#datePicker(type='text')
              .col-md-3.col-sm-3
                .input-group Time
                  input(type='text')
              .col-md-2.col-sm-2
                 .input-group Public  
                  input(type='checkbox') 
                .input-group Private 
                  input(type='checkbox') 
              .col-md-2
                button.btn.btn-default(type='submit') Post Event
      .col-lg-8.col-sm-12.col-md-12.scrollPanelLeft
          .user-post  
            .panel-heading
              img.img-circle.pull-left(src='#{profilePicture}', alt='#{username}')
              h3 #{username}
              h5
                span Shared #{sharing}
                |  - 
                span #{eventDate}
            .panel-body
              p
                | #{eventDescription}
            .panel-footer
              button.btn.btn-default(type='button')
                span.glyphicon.glyphicon-plus
              button.btn.btn-default(type='button')
                span.glyphicon.glyphicon-share-alt
              button.btn.btn-default(type='button', data-toggle='collapse', href='#collapseTextArea') Add a Comment
              div.panel-collapse.collapse#collapseTextArea
                .panel-textarea(rows='4')
                  textarea
                  button.btn.btn-default(type='submit') Post comment
                  button.btn.btn-default(type='reset') Cancel
          .user-post  
            .panel-heading
              img.img-circle.pull-left(src='#{profilePicture}', alt='#{username}')
              h3 #{username}
              h5
                span Shared #{sharing}
                |  - 
                span #{eventDate}
            .panel-body
              p
                | #{eventDescription}
            .panel-footer
              button.btn.btn-default(type='button')
                span.glyphicon.glyphicon-plus
              button.btn.btn-default(type='button')
                span.glyphicon.glyphicon-share-alt
              button.btn.btn-default(type='button', data-toggle='collapse', href='#collapseTextArea') Add a Comment
              div.panel-collapse.collapse#collapseTextArea
                .panel-textarea(rows='4')
                  textarea
                  button.btn.btn-default(type='submit') Post comment
                  button.btn.btn-default(type='reset') Cancel
          .user-post
            .panel-heading
              img.img-circle.pull-left(src='#{profilePicture}', alt='#{username}')
              h3 #{username}
              h5
                span Shared #{sharing}
                |  - 
                span #{eventDate}
            .panel-body
              p
                | #{eventDescription}
            .panel-footer
              button.btn.btn-default(type='button')
                span.glyphicon.glyphicon-plus
              button.btn.btn-default(type='button')
                span.glyphicon.glyphicon-share-alt
              button.btn.btn-default(type='button', data-toggle='collapse', href='#collapseTextArea') Add a Comment
              div.panel-collapse.collapse#collapseTextArea
                .panel-textarea(rows='4')
                  textarea
                  button.btn.btn-default(type='submit') Post comment
                  button.btn.btn-default(type='reset') Cancel
        .col-lg-4.col-md-0.col-sm-0.scrollPanelRight
          .panel.with-nav-tabs.panel-default
            .panel-heading2
              ul.nav.nav-tabs#tabs
                li.active
                  a(href='#mapByDistance', data-toggle='tab') Distance
                li
                  a(href='#mapByTime', data-toggle='tab') Time
                li
                  a(href='#mapByGroup', data-toggle='tab') Group
            .panel-body
              .tab-content
                #mapByDistance.tab-pane.fade.in.active
                  div#map
                #mapByTime.tab-pane.fade
                  div#map
                #mapByGroup.tab-pane.fade
                  div#map
          

