extends layout
block append head
  link(rel='stylesheet', href='/stylesheets/profile.css')
  script(src='/javascripts/profile.js')
//Got it from
//http://bootsnipp.com/snippets/featured/flat-user-profile-interface-ui
block content
  #banner.page-header
  .container
    .row.user-menu-container.square
      .col-md-7.user-details
        .row.purplebg.white
          .col-md-6.col-sm-3.no-pad
            .user-pad
              div#profileClip
                h3 #{username}
                h4.white
                  span.glyphicon.glyphicon-globe
                  |  #{location}
                h4.white
                  span.glyphicon.glyphicon-twitter
                  |  #{twitter}
              button.btn.btn-labeled.btn-info(type='button', href='#')
                span.btn-label
                  span.glyphicon.glyphicon-pencil
                | Update
          .col-md-6.no-pad
            .user-image
              img.img-responsive.thumbnail(src='#{profilePicture}')
        .row.overview.lightpurplebg
          .col-md-4.col-xs-4.user-pad.text-center
            h3 FOLLOWERS
            h4.white #{followerCount}
          .col-md-4.col-xs-4.user-pad.text-center
            h3 FOLLOWING
            h4.white #{followingCount}
          .col-md-4.col-xs-4.user-pad.text-center
            h3 ATTENDED
            h4.white #{attendedCount}
      .col-md-1.user-menu-btns
        #responsive.btn-group-vertical.square
          a.btn.btn-block.btn-default.active(href='#')
            span.glyphicon.glyphicon-user
          a.btn.btn-default(href='#')
            span.glyphicon.glyphicon-envelope
          a.btn.btn-default(href='#')
            span.glyphicon.glyphicon-fire
          a.btn.btn-default(href='#')
            span.glyphicon.glyphicon-certificate
      .col-md-4.user-menu.user-pad
        .user-menu-content.active
          h3
            | Recent Interactions
          ul.user-menu-list
            li
              h5
                span.glyphicon.glyphicon-user.purple
                |  Roselynn Smith followed you.
            li
              h5
                span.glyphicon.glyphicon-heart.purple
                |  Jonathan Hawkins followed you.
            li
              h5
                span.glyphicon.glyphicon-send.purple
                |  Gracie Jenkins followed you.
            li
              button.btn.btn-labeled.btn-success(type='button', href='#')
                span.btn-label
                  span.glyphicon.glyphicon-eye-open
                | View all activity
        .user-menu-content
          h3
            | Your Inbox
          ul.user-menu-list
            li
              h5
                | From Roselyn Smith 
                small.purple
                  strong NEW
                  span.glyphicon.glyphicon-time
                  |  7:42 A.M.
            li
              h5
                | From Jonathan Hawkins 
                small.purple
                  span.glyphicon.glyphicon-time
                  |  10:42 A.M.
            li
              h5
                | From Georgia Jennings 
                small.purple
                  span.glyphicon.glyphicon-time
                  |  10:42 A.M.
            li
              button.btn.btn-labeled.btn-info(type='button', href='#')
                span.btn-label
                  span.glyphicon.glyphicon-envelope
                | View All Messages
        .user-menu-content
          h5
            | Trending
          .row
            .col-md-6
              .view
                .caption
                  p 
                  a(href='', rel='tooltip', title='Appreciate')
                    span.glyphicon.glyphicon-heart
                  a(href='', rel='tooltip', title='View')
                    span.glyphicon.glyphicon-search
                img.trendPicture.img-responsive(src='#{profilePicture}')
              .info
                p.small(style='text-overflow: ellipsis') An Awesome Title
                p.small.purple.text-right
                  span.glyphicon.glyphicon-time
                  |  Posted Today | 10:42 A.M.
              .stats.turqbg
                span.glyphicon.glyphicon-heart
                  strong 47
                span.glyphicon.glyphicon-eye-open.pull-right
                  strong 137
            .col-md-6
              .view
                .caption
                  p 47LabsDesign
                  a(href='', rel='tooltip', title='Appreciate')
                    span.glyphicon.glyphicon-heart
                  a(href='', rel='tooltip', title='View')
                    span.glyphicon.glyphicon-time
                img.trendPicture.img-responsive(src='#{profilePicture}')
              .info
                p.small(style='text-overflow: ellipsis') An Awesome Title
                p.small.purple.text-right
                  span.glyphicon.glyphicon-time
                  |  Posted Today | 10:42 A.M.
              .stats.turqbg
                span.glyphicon.glyphicon-heart
                  strong 47
                span.glyphicon.glyphicon-eye-open.pull-right
                  strong 137
        .user-menu-content
          h2.text-center
            | YOUR EVENT
          .share-links
            center
              button.btn.btn-lg.btn-labeled.btn-info(type='button', href='#', style='margin-bottom: 15px;')
                span.btn-label
                  span.glyphicon.glyphicon-calendar
                | CREATE AN EVENT
            center
              button.btn.btn-lg.btn-labeled.btn-info(type='button', href='#', style='margin-bottom: 15px;')
                span.btn-label
                  span.glyphicon.glyphicon-calendar
                | ONGOING EVENTS
            center
              button.btn.btn-lg.btn-labeled.btn-info(type='button', href='#')
                span.btn-label
                  span.glyphicon.glyphicon-hourglass
                | EVENT HISTORY
